::-webkit-scrollbar {
  width: 1vh;
  background: var(--s1-color);
}

::-webkit-scrollbar-thumb {
  background: var(--n1-color);
}

:root {
  --p1-color: #0e0e0e;
  --s1-color: #F2F2F2;
  --s2-color: #dfdfdf;
  --n1-color: #003f8b;
  --n2-color: red;
  --shadow: black;
  --p-margin: 50%;
  --top-margin: 0;
  --padding-whole: 1vh 2vh;
  --text-font-size: 1.5vh;
  --header-font-size: 2.5vh;
  --object-font-size: 2.5vh;
  --big-font-size: 4vh;
  --text: "Open Sans", sans-serif;
  --text-color: #1d1d1d;
}

.show-item, .search-item {
  transition: 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 15vh;
  padding: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  font-size: var(--object-font-size);
  background: var(--s1-color);
  border-radius: 0.5vh;
  border: 0.3vh solid var(--p1-color);
}
.show-item:hover::after, .search-item:hover::after {
  background: var(--n2-color);
}
.show-item a, .search-item a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  font-size: var(--header-font-size);
  color: var(--text-color);
}

@keyframes blob {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes dots {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text);
  color: var(--text-color);
  text-decoration: none;
}

img, svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  width: 100%;
  min-height: 100dvh;
  background-image: linear-gradient(var(--s2-color) 0.1vh, transparent 0.1vh), linear-gradient(to right, var(--s2-color) 0.1vh, transparent 0.1vh);
  background-size: 2vh 2vh;
  background-color: var(--s1-color);
}
body .loading-screen {
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  background-image: linear-gradient(var(--s2-color) 0.1vh, transparent 0.1vh), linear-gradient(to right, var(--s2-color) 0.1vh, transparent 0.1vh);
  background-size: 2vh 2vh;
  background-color: var(--s1-color);
}
body .loading-screen .loading-animation {
  width: 8vh;
  height: 8vh;
  padding: 1vh;
  background: radial-gradient(farthest-side, var(--n2-color) 98%, transparent) 0/2vh 2vh no-repeat, conic-gradient(from 90deg at 1vh 1vh, var(--p1-color), var(--n1-color)) content-box, conic-gradient(from -90deg at 1vh 1vh, var(--p1-color), var(--n1-color)) content-box, transparent;
  animation: blob 2s infinite;
}
body .everything {
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  transition: 0.2s ease-in-out;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3vh;
  padding-bottom: 3vh;
  padding-top: 1vh;
}
body .everything .landing-page-background {
  position: relative;
  width: 100%;
  gap: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
body .everything .nav-bar {
  width: var(--p-margin);
}
body .everything .nav-bar .nav-options {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: var(--padding-whole);
}
body .everything .nav-bar .nav-options .logo {
  cursor: pointer;
  font-size: var(--header-font-size);
  font-weight: bold;
  text-transform: capitalize;
  color: var(--n1-color);
}
body .everything .nav-bar .nav-options .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body .everything .nav-bar .nav-options .pc-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}
body .everything .nav-bar .nav-options .pc-options .nav-option {
  cursor: pointer;
  font-weight: bold;
  font-size: var(--text-font-size);
}
body .everything .nav-bar .nav-options .mobile-options .nav-mobile {
  font-size: var(--header-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vh;
  height: 100%;
  padding: 1vh;
}
body .everything .nav-bar .nav-options .mobile-options .nav-mobile img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body .everything .nav-bar .nav-options .mobile-options .mobile-menu {
  transition: 0.2s ease-in-out;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20vh;
  background-image: linear-gradient(var(--s2-color) 0.1vh, transparent 0.1vh), linear-gradient(to right, var(--s2-color) 0.1vh, transparent 0.1vh);
  background-size: 2vh 2vh;
  background-color: var(--s1-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(500vh);
  border-left: 0.3vh solid var(--p1-color);
  gap: 2vh;
  padding: var(--padding-whole);
}
body .everything .nav-bar .nav-options .mobile-options .mobile-menu .close-nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 5vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--big-font-size);
  font-weight: bold;
}
body .everything .nav-bar .nav-options .mobile-options .mobile-menu .nav-option-m {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--big-font-size);
  font-weight: bold;
}
body .everything .hero-page {
  transition: 0.2s ease-in-out;
  width: 100%;
  padding: var(--padding-whole);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 0vh;
}
body .everything .hero-page .hero-page-slogan {
  width: var(--p-margin);
  font-size: var(--header-font-size);
  height: 10vh;
  padding-left: 1vh;
}
body .everything .hero-page .hero-page-slogan span {
  font-size: var(--big-font-size);
  font-weight: bold;
}
body .everything .hero-page .search-part {
  width: 49%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .everything .hero-page .search-part .text-input {
  width: 100%;
  height: 100%;
  display: flex;
}
body .everything .hero-page .search-part .text-input #search-id {
  cursor: pointer;
  width: 95%;
  height: 100%;
  padding-left: 2vh;
  background: var(--s1-color);
  border: 0.3vh solid var(--p1-color);
  outline: none;
  font-size: var(--text-font-size);
  border-radius: 0.5vh;
}
body .everything .hero-page .search-part .text-input:hover #search-id {
  border: 0.5vh solid var(--p1-color);
}
body .everything .hero-page .search-part .search-btn {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  padding: 1vh;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--s1-color);
  border: 0.3vh solid var(--p1-color);
  border-radius: 0.5vh;
}
body .everything .hero-page .search-part .search-btn .search-txt {
  font-weight: bold;
  font-size: var(--text-font-size);
}
body .everything .hero-page .search-part .search-btn .search-image {
  width: 20%;
  height: 100%;
}
body .everything .hero-page .search-part .search-btn .search-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body .everything .loading-page {
  width: var(--p-margin);
  height: 50vh;
  padding: var(--padding-whole);
  display: none;
  justify-content: center;
  align-items: center;
}
body .everything .loading-page .loading-animation {
  width: 72px;
  height: 34.6px;
  background: radial-gradient(circle closest-side, #000000 90%, rgba(0, 0, 0, 0)) 0% 50%, radial-gradient(circle closest-side, #000000 90%, rgba(0, 0, 0, 0)) 50% 50%, radial-gradient(circle closest-side, #000000 90%, rgba(0, 0, 0, 0)) 100% 50%;
  background-size: 33.3333333333% 1.5vh;
  background-repeat: no-repeat;
  animation: dots 1s infinite linear;
}
body .everything .every-projects-link {
  transition: 0.2s ease-in-out;
  width: var(--p-margin);
  gap: 3vh;
  padding: var(--padding-whole);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .everything .every-projects-link .header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body .everything .every-projects-link .header .main-header {
  font-size: var(--header-font-size);
  font-weight: bold;
  text-transform: uppercase;
}
body .everything .every-projects-link .header .main-header svg {
  width: var(--header-font-size);
  height: var(--header-font-size);
}
body .everything .every-projects-link .header .sub-header {
  opacity: 50%;
  font-size: var(--text-font-size);
  font-weight: bold;
}
body .everything .every-projects-link .every-projects-body {
  width: 100%;
  display: grid;
  grid-template-columns: 30% auto 30%;
  gap: 5vh;
}
body .everything .search-page {
  transition: 0.2s ease-in-out;
  width: var(--p-margin);
  margin-top: var(--top-margin);
  padding: var(--padding-whole);
  gap: 3vh;
  display: none;
  opacity: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
body .everything .search-page .go-back-btn {
  transition: 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
  padding: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--text-font-size);
  background: var(--s1-color);
  border-radius: 0.5vh;
  border: 0.3vh solid var(--p1-color);
}
body .everything .search-page .go-back-btn:hover::after {
  background: var(--n2-color);
}
body .everything .search-page .header .main-header {
  font-size: var(--header-font-size);
  text-transform: uppercase;
  font-weight: bold;
}
body .everything .search-page .header .sub-header {
  font-size: var(--text-font-size);
  opacity: 50%;
  font-weight: bold;
}
body .everything .search-page .search-results {
  width: 100%;
  display: grid;
  grid-template-columns: 30% auto 30%;
  gap: 5vh;
}
body .everything .search-page .search-results .show {
  display: flex;
}
body .everything .search-page .search-results .hide {
  display: none;
}
body .everything #page {
  transition: 0.5s ease-in-out;
  display: none;
  width: var(--p-margin);
  margin-top: var(--top-margin);
  padding: var(--padding-whole);
  opacity: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3vh !important;
}
body .everything #page .go-back-btn {
  transition: 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
  padding: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--text-font-size);
  background: var(--s1-color);
  border-radius: 0.5vh;
  border: 0.3vh solid var(--p1-color);
}
body .everything #page .go-back-btn:hover::after {
  background: var(--n2-color);
}
body .everything #page .header {
  width: 100%;
}
body .everything #page .header .main-header {
  font-size: var(--header-font-size);
  font-weight: bold;
  text-transform: capitalize;
}
body .everything #page .header .sub-header {
  font-size: var(--text-font-size);
  font-weight: bold;
  opacity: 50%;
}
body .everything .nothing-page-found-page {
  transition: 0.5s ease-in-out;
  display: none;
  width: var(--p-margin);
  margin-top: var(--top-margin);
  padding: var(--padding-whole);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3vh !important;
}
body .everything .nothing-page-found-page .go-back-btn {
  transition: 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
  padding: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--text-font-size);
  background: var(--s1-color);
  border-radius: 0.5vh;
  border: 0.3vh solid var(--p1-color);
}
body .everything .nothing-page-found-page .go-back-btn:hover::after {
  background: var(--n2-color);
}
body .everything .nothing-page-found-page .text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--header-font-size);
  font-weight: bold;
  text-transform: capitalize;
}
body .everything .cover-page-generator-page .generator-whole {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2vh;
}
body .everything .cover-page-generator-page .generator-whole .header {
  width: 100%;
  text-align: center;
  font-size: var(--header-font-size);
  text-transform: capitalize;
  font-weight: bold;
}
body .everything .cover-page-generator-page .generator-whole .generator-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2vh;
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output {
  width: 40vh;
  height: 55vh;
  background: white;
  border: 0.3vh solid var(--p1-color);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output .top-part {
  position: absolute;
  top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
  justify-content: center;
  gap: 0.5vh;
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output .top-part .college-name {
  font-size: 2vh;
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output .top-part .address {
  font-size: 1.5vh;
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output .top-part .affiliated {
  font-size: 1vh;
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output .logo {
  position: absolute;
  top: 25%;
  width: 10vh;
  height: 10vh;
  overflow: hidden;
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output .titles {
  position: absolute;
  top: 47%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  font-size: 1.3vh;
  font-weight: bold;
  text-transform: uppercase;
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output .titles .department {
  font-size: 1vh;
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output .titles .lines {
  width: 5vh;
  height: 5vh;
  overflow: hidden;
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output .titles .lines img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output .submition-field {
  width: 95%;
  bottom: 1vh;
  height: 20%;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1vh;
  justify-content: space-between;
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output .submitted-by {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1vh;
  text-transform: capitalize;
  font-weight: bold;
  border: 0.1vh solid var(--shadow);
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output .submitted-by .header {
  font-size: 1vh !important;
  border-bottom: 0.1vh solid var(--p1-color);
  text-transform: uppercase;
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output .submitted-by .body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output .submitted-to {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-transform: capitalize;
  font-size: 1vh !important;
  font-weight: bold;
  border: 0.1vh solid var(--shadow);
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output .submitted-to .header {
  font-size: 1vh !important;
  border-bottom: 0.1vh solid var(--p1-color);
  text-transform: uppercase;
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output .submitted-to .body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output .signature {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1vh !important;
  font-weight: bold;
  border: 0.1vh solid var(--shadow);
  gap: 0.5vh;
}
body .everything .cover-page-generator-page .generator-whole .generator-body .output .signature .header {
  font-size: 1vh !important;
  text-align: center;
  border-bottom: 0.1vh solid var(--shadow);
  text-transform: lowercase;
}
body .everything .cover-page-generator-page .generator-whole .input-field {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}
body .everything .cover-page-generator-page .generator-whole .input-field .roll-no, body .everything .cover-page-generator-page .generator-whole .input-field .subject {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
body .everything .cover-page-generator-page .generator-whole .input-field .roll-no .header, body .everything .cover-page-generator-page .generator-whole .input-field .subject .header {
  width: 100%;
  font-size: var(--text-font-size);
  text-align: left;
  text-transform: uppercase;
}
body .everything .cover-page-generator-page .generator-whole .input-field .roll-no select, body .everything .cover-page-generator-page .generator-whole .input-field .subject select {
  cursor: pointer;
  width: 100%;
  border-radius: 0.5vh;
  background: var(--s1-color);
  border: 0.3vh solid var(--p1-color);
  padding: 1vh;
  font-size: var(--text-font-size);
}
body .everything .cover-page-generator-page .generator-whole .input-field .roll-no select optgroup, body .everything .cover-page-generator-page .generator-whole .input-field .subject select optgroup {
  color: var(--p1-color);
  font-size: 2vh;
  width: 100%;
}
body .everything .cover-page-generator-page .generator-whole .input-field .roll-no select optgroup option, body .everything .cover-page-generator-page .generator-whole .input-field .subject select optgroup option {
  width: 100%;
  font-size: var(--text-font-size);
}
body .everything .cover-page-generator-page .generator-whole .input-field .title-selector, body .everything .cover-page-generator-page .generator-whole .input-field .report-no-selector {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
body .everything .cover-page-generator-page .generator-whole .input-field .title-selector .header, body .everything .cover-page-generator-page .generator-whole .input-field .report-no-selector .header {
  width: 100%;
  font-size: var(--text-font-size);
  text-align: left;
  text-transform: uppercase;
}
body .everything .cover-page-generator-page .generator-whole .input-field .title-selector input, body .everything .cover-page-generator-page .generator-whole .input-field .report-no-selector input {
  padding: 1vh 2vh;
  font-size: var(--text-font-size);
  width: 100%;
  height: 100%;
  border-radius: 0.5vh;
  background: var(--s1-color);
  border: 0.3vh solid var(--p1-color);
}
body .everything .cover-page-generator-page .generator-whole .input-field .download {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border: none;
  outline: none;
  width: 100%;
  margin: 4vh 0;
  padding: 2vh;
  background: var(--n1-color);
  color: var(--s1-color);
  font-size: var(--header-font-size);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.5vh;
  border: 0.3vh solid var(--p1-color);
}
body .everything .cover-page-generator-page .generator-whole .input-field .download:hover {
  background: var(--s1-color);
  color: var(--p1-color);
}
body .everything .cover-page-generator-page .generator-whole .input-field .pdf-to-docx-link {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
body .everything .cover-page-generator-page .generator-whole .input-field .pdf-to-docx-link .header {
  font-size: var(--text-font-size);
  width: 100%;
  text-align: left;
  text-transform: none;
}
body .everything .cover-page-generator-page .generator-whole .input-field .pdf-to-docx-link a {
  color: var(--n2-color);
  font-size: var(--text-font-size);
}
body .everything .class-routine-page {
  width: 100%;
  gap: 2vh;
}
body .everything .class-routine-page .routine-whole {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}
body .everything .class-routine-page .class-routine-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .everything .class-routine-page .routine {
  width: 100%;
}
body .everything .class-routine-page .routine-cell {
  text-align: center;
  padding: 1vh;
  background: var(--s1-color);
  font-weight: bold;
  font-size: var(--text-font-size);
}
body .everything .class-routine-page .routine-header, body .everything .class-routine-page .routine-time {
  font-weight: bold;
  background: var(--n1-color);
  color: var(--s1-color);
}
body .everything .class-routine-page .room-no {
  border-bottom: 0.3vh solid var(--p1-color);
}
body .everything .class-routine-page .routine-base {
  font-weight: bold;
  background: var(--n1-color);
  color: var(--s1-color);
}
body .everything .syllabus-page .syllabus-body {
  width: 100%;
}
body .everything .syllabus-page .syllabus-body .semester-options {
  list-style-type: none;
  display: grid;
  -moz-column-gap: 1vh;
       column-gap: 1vh;
  row-gap: 1vh;
  grid-template-columns: auto auto auto auto;
}
body .everything .syllabus-page .syllabus-body .semester-options .semester-option {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  position: relative;
  background: var(--s1-color);
  border: 0.3vh solid var(--p1-color);
  height: 10vh;
  border-radius: 0.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .everything .syllabus-page .syllabus-body .semester-options .semester-option a {
  transition: 0.2s ease-in-out;
  color: var(--p1-color);
  background: var(--s1-color);
  font-size: var(--header-font-size);
  width: 100%;
  height: 100%;
  font-weight: bold;
  border-radius: 0.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
body .everything .syllabus-page .syllabus-body .semester-options .syllabus-1-8 {
  grid-column-start: 1;
  grid-column-end: 5;
}
body .everything .syllabus-page .syllabus-body .semester-options .syllabus-1-8 a {
  font-size: var(--header-font-size);
  background: var(--n1-color);
  color: var(--s1-color);
}
body .everything .ascii-finder-page .ascii-finder-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .everything .ascii-finder-page .ascii-finder-body .ascii-finder {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2vh;
}
body .everything .ascii-finder-page .ascii-finder-body .input-part {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2vh;
}
body .everything .ascii-finder-page .ascii-finder-body .input-part .input-header {
  font-size: var(--header-font-size);
  font-weight: bold;
}
body .everything .ascii-finder-page .ascii-finder-body .input-part .key-input {
  width: 20%;
}
body .everything .ascii-finder-page .ascii-finder-body .input-part .key-input input {
  border: 0.3vh solid var(--p1-color);
  border-radius: 0.5vh;
  background: var(--s1-color);
  outline: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 3vh;
  font-size: var(--text-font-size);
}
body .everything .ascii-finder-page .ascii-finder-body .output-part {
  width: 20vh;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.3vh solid var(--p1-color);
  border-radius: 0.5vh;
  font-size: var(--big-font-size);
}

@media (min-width: 940px) {
  .search-btn:hover {
    background: var(--n2-color) !important;
  }
  .search-btn:hover .search-txt {
    color: var(--s1-color);
  }
  .mobile-options {
    display: none;
  }
  .go-back-btn::before {
    right: -0.7vh !important;
    bottom: -0.7vh !important;
  }
  .search-item::before, .show-item::before, .go-back-btn::before {
    transition: 0.2s ease-in-out;
    position: absolute;
    z-index: -1;
    right: -5%;
    bottom: -10%;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--s2-color);
    border-radius: 0.5vh;
    border: 0.3vh solid var(--p1-color);
  }
  .search-item::after, .show-item::after, .go-back-btn::after {
    transition: 0.2s ease-in-out;
    position: absolute;
    top: 0%;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    font-size: var(--text-font-size);
    color: var(--s1-color);
    border-bottom: 0.3vh solid var(--p1-color);
  }
}
@media (max-width: 940px) {
  :root {
    --p-margin: 100%;
    --header-font-size:2vh;
    --object-font-size: 1.5vh;
    --big-font-size: 3vh;
  }
  .everything {
    gap: 2vh !important;
  }
  .search-part {
    min-width: 100%;
  }
  .search-part .search-btn {
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .search-part .search-txt {
    display: none;
  }
  .search-part .search-image {
    min-width: 100%;
  }
  .nav-option {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }
  .every-projects-body, .search-results {
    gap: 2vh !important;
  }
  .show-item, .search-item {
    max-height: 10vh !important;
  }
  .generator-body .input-field {
    min-width: 100%;
  }
  .generator-body .output {
    min-width: 100%;
  }
  .routine .routine-row {
    gap: 0.1vh !important;
  }
  .routine .routine-cell {
    padding: 0.5vh !important;
  }
}/*# sourceMappingURL=style.css.map */